page-search {

  h1 {
    font-weight: 200;
    font-size: large;
    color: white;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
  }


  /*.scroll-content {
    top: -56px !important;
    padding-top: 56px !important;
  }*/


  .hide-footer {
    /*transition: 0.10s ease;*/
    bottom: 0px;
  }

  .show-footer {
    transition-delay: 0.2s;
    /*transition: 0.10s ease;*/
    bottom: -125px;
  }

  .main-content {
    padding: 20px;
    background-color: white;
    position: absolute;
  }

  .fab {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 50px;
  }


}
